<h1>hola titulo</h1><h1>hola titulo</h1><h1>hola titulo</h1><h1>hola titulo</h1><h1>hola titulo</h1>
<h4>asd</h4>
<p>hola asdasdasdasdasdasd</p>
<%= Time.now %>

<% edad = 16 %>

<% if edad >= 18 %>
    <H1>ERES MAYOR DE EDAD</H1>
    <%= Time.now.year %>
<% else %>
    <%= Time.now %>
    <H1>ERES menor DE EDAD</H1>
        <%= Time.now.year %>

<% end %>